{{#if isAuthenticated}}
  <h2>Propose a Discussion Topic</h2>
  <p>You can propose an unlimited number of discussion topics. If you want to
    make changes to your discussion titles or delete a proposal, now's the time.
    Once voting begins, you won't be able to edit your proposals.</p>
{{else}}
  <h2>Discussion Ideas</h2>
  <p>{{#link-to 'sign-in'}}Sign in{{/link-to}} to propose an idea or vote on sessions.</p>
{{/if}}
