@import "ember-bootstrap/bootstrap";

.ember-tip {
  color: red;
}

.stage.selected {
  background-color: green;
  font-weight: bold;
  color: white;
}

.bordered {
  border: thick black solid;
  padding: 10px;
  margin-bottom: 10px;
}
