<span class="ember-tip">admin.hbs</span>
<h2>Admin Settings</h2>

{{admin/admin-gatekeeper event=model
                         updateEventName='updateEventName'
                         updateMaxVotes='updateMaxVotes'}}
