<span class="ember-tip">admin.hbs</span>
<h2>Admin Settings</h2>
{{#link-to "application"}}Close Admin Panel{{/link-to}}

{{admin/admin-gatekeeper event=model
                         updateEventName='updateEventName'
                         updateMaxVotes='updateMaxVotes'
                         setEventStage='setEventStage'}}
