  {{!-- <span class="ember-tip">admin.hbs</span> --}}
  <h2>Admin Settings</h2>
  {{#link-to "application"}}<button>Close Admin Panel</button>{{/link-to}}

  {{admin/admin-gatekeeper event=model
                           updateEventName='updateEventName'
                           updateMaxVotes='updateMaxVotes'
                           createTimeslots='createTimeslots'
                           deleteAllTimeslots='deleteAllTimeslots'
                           setEventStage='setEventStage'}}
