<span class="ember-tip">application.hbs</span>
<span class="ember-tip">current path: {{this.currentPath}}</span>
{{my-application signOut="signOut"
                 event=model
                 currentPath=currentPath}}
