{{!--
<p class="ember-tip">current path: {{this.currentPath}}</p> --}}

{{event-gatekeeper event=model.event
                   discussions=model.discussions
                   timeslots=model.timeslots
                   newDiscussion=model.newDiscussion
                   createDiscussion='createDiscussion'
                   deleteDiscussion='deleteDiscussion'
                   updateDiscussion='updateDiscussion'}}
