{{!-- <span class="ember-tip">admin-gatekeeper.hbs: </span> --}}
{{#if isAdmin}}
<p>Congrats! You have top secret admin clearance!</p>
  {{admin/admin-panel event=event
                      updateEventName='updateEventName'
                      updateMaxVotes='updateMaxVotes'
                      createTimeslots='createTimeslots'
                      deleteAllTimeslots='deleteAllTimeslots'
                      setEventStage='setEventStage'}}
{{else if isAuthenticated}}
<p>Uh oh! You don't have admin status, so you can't access these settings. Please
  {{#link-to "sign-in"}}sign in {{/link-to}} again with an admin account or head
  back to the {{#link-to "application"}}main page{{/link-to}}.</p>
{{else}}
  <p>Oops! You're not signed in. Please {{#link-to "sign-in"}}sign in {{/link-to}}
    with an admin account to access admin settings.</p>
{{/if}}
