{{!-- <span class="ember-tip">admin-panel.hbs: </span> --}}
{{admin/event-name-form event=event
                        updateEventName='updateEventName'}}
<br>
{{admin/max-votes-form event=event
                       updateMaxVotes='updateMaxVotes'}}
<br>
{{admin/event-stage-form event=event
                         setEventStage='setEventStage'}}
<br>
