<span class="ember-tip">admin-gatekeeper.hbs: </span>
{{#if isAdmin}}
  <p>Actual admin panel will go here</p>
{{else if isAuthenticated}}
<p>Uh oh! You don't have admin status, so you can access these settings. Please
  sign in with an admin account or head back to the main page.</p>
{{else}}
  <p>Oops! You're not signed in. Please sign in with an admin account to access
    admin settings.</p>
{{/if}}
