<form {{action 'updateEventName' on="submit"}}>
  <label for="name">Event Name:</label>
  {{input placeholder="Event Name" value=event.name id='name'}}
  <button type="submit">Update</button>
</form>
